extends layouts/login-layout.pug

block content 
	.loginContainer 
		h1 Register
		form#registerForm(method="post", onsubmit="event.preventDefault(); validateForm();") 

			p.errorMessage #{errorMessage}

			input(type="text", name="firstName", placeholder="First Name", value=firstName, required="")
			input(type="text", name="lastName", placeholder="Last Name", value=lastName, required="")
			input(type="text", name="username", placeholder="Username", value=username, required="")
			input(type="email", name="email", placeholder="Email", value=email, required="")
			input#password(type="password", name="password", placeholder="Password", required="")
			input#passwordConf(type="password", name="passwordConf", placeholder="Confirm Password", required="")
			input(type="submit", value="Register")
		
		a(href="/login") Already have an account? Login here.

	script. 
		const passwordField = document.getElementById("password");
		const passwordConfField = document.getElementById("passwordConf");
		
		const form = document.getElementById("registerForm");

		const validateForm = () => {
			if(passwordField.value != passwordConfField.value) {
				alert("Password do not match.");
			}
			else {
				form.submit();
			}
		}